<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clevertapintegrationsample">
    <!-- Required to allow the app to send events and user profile information -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- needed for notification view to float -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleverTapIntegrationSample">
        <activity
            android:name=".CartAbandon"
            android:exported="false" />
        <activity
            android:name=".notificationAPI.PushPrimerActivity"
            android:exported="false" />
        <activity
            android:name=".EventActivity"
            android:exported="false" />
        <activity
            android:name=".InAppTemplatesActivity"
            android:exported="false" />
        <activity
            android:name=".EmptyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".appinbox.CustomAppInboxActivity"
            android:exported="false" />
        <activity
            android:name=".PushTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".nativeDisplay.NativeDisplayActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app.cttest.com"
                    android:pathPrefix="/native"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- <data android:scheme="https" android:host="app.cttest.com" /> -->
                <!-- <data android:scheme="app" android:host="open.my.app" /> -->
            </intent-filter>
        </activity>

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="R9K-Z94-R46Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="4c1-3c2" />
        <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="eu1" />
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="0" />
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="0" />

        <service
            android:name=".MyFirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".NotificationActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="" />
    </application>

</manifest>